*~
*.swo
*.swp
.settings
.project
.pydevproject
pyramid_sacrud_catalog/.coverage
Pyramid_sacrud_catalog/TODO
*.pyc
pyramid_sacrud_catalog/cover
cover
.coverage
build
dist
*.egg-info
TODO
TODO.txt
nohup.out
.cache
example.sqlite
test.sqlite
